<nav class="navbar navbar-expand" style="background-color: #30197A"role="navigation">
<div class="container-fluid">
    <a class="navbar-brand text-light" href="/home">
        <span class="border rounded p-2 fa fa-music"></span>
    </a>

    <ul class="navbar-nav">
      <li><a href="/home" class="nav-link text-light">Home</a></li>
      <li><a href="/logout" class="nav-link text-light">Logout</a></li>
      <li><a href="/about" class="nav-link text-light">About</a></li>
    </ul>


</div>
</nav>
