<!doctype html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
 <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="background-color: #5C45A7">
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1 class="text-light my-4">About</h1>
    </div>
    <div class="container text-light">
      <h2>Members: </h2>
      <h3 class="font-weight-normal">Ted Shin</h3>
      <h3 class="font-weight-normal">Jose Guerrero</h3>
      <h3 class="font-weight-normal">Victor Santos</h3>
      <h3 class="font-weight-normal">Edwin Zhou</h3>
    </div>
  </header>
  <main>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/controllers/home.js"></script>
</body>
</html>
